.login-content {
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #614EA6;
    height: 100vh;
}

.btn-login {
    background-color: #FFF;
}

.btn-login:hover {
    background-color: #F21567;
    color: #FFF;
}

.opcoes-login a{
    text-decoration: none;
    color: #FFF;
    transition: .3s ease-in;
}

.opcoes-login a:hover{
    color: #F21567;
}